# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development environment
.idea/

# Compiled Python files
*.pyc
*.pyo
*.pyd

# Logs and temporary files
*.log
*.pot
*.swp
*~
\#*\#
.\#*

# Virtual environment
venv/
env/

# Old
ui.py
